
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<title>Family-tree</title>
	<div th:replace="header :: header-css" ></div>
	<div th:replace="familytree :: family-tree-css" ></div>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/ju/datatables.min.js"></script>
</head>
<body>
	<div th:replace="header :: empty-header" ></div>
</body>
</html>