<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
	<!-- <div th:fragment="family-tree-css">
	</div> -->
</head>
<body>
	<div  th:fragment="cust-profile-view(customeProfile)">
	<div th:object="${customeProfile}">
		<div class="panel panel-info" >
			<div class="panel-heading">
		    	<h4 class="panel-title" th:text="*{profileName}">full Name here</h4>
		    </div>
		    <div class="panel-body">
		    	<div class="row">
			    	<div class=" col-md-12 col-lg-12 "> 
			        	<table class="table table-user-information">
			            	<tbody>
			                	<tr>
			                      	<td><img alt="User Pic" th:src="@{'/images/'+ *{gender} +'.png'}" src="/images/male.png" class="img-circle img-responsive" width="50px"></img></td>
			                    </tr>
			                    <tr>
			                        <td>First Name</td>
			                        <td th:text="*{firstName}" colspan="2">First Name here</td>
			                    </tr>
			                    <tr>
			                        <td>Last Name</td>
			                        <td th:text="*{lastName}" colspan="2">Last Name here</td>
			                    </tr>
			                    <tr>
			                    	<th:block th:if="${{customeProfile.lifePartner==false}}"><td >Child Of</td></th:block>
			                        <th:block th:if="${{customeProfile.lifePartner==true}}"><td>Life Partner of</td></th:block>
			                        <td th:text="*{childOf}" colspan="2">06/23/2013</td>
			                    </tr>
                                <tr>
			                        <td>Gender</td>
			                        <td th:text="*{gender}" colspan="2">Female</td>
			                    </tr>
			                    <tr>
			                        <td>Date of Birth:</td>
			                        <td th:text="${{customeProfile.dateOfBirth}}" colspan="2">06/23/2013</td>
			                    </tr>
			                    <tr>
			                        <td>Age</td>
			                        <td th:text="*{age}" colspan="2">NA</td>
			                    </tr>
			                    <th:block th:switch="*{maritalStatus}" >
			                    	<th:block th:case="'SINGLE'">
			                    		<tr>
			                        		<td>Marital status</td>
			                        		<td th:text="*{maritalStatus}" colspan="2">Single/Married</td>
			                    		</tr>
			                    		<tr>
			                    			<td>&nbsp;</td>
			                    			<td>&nbsp;</td>
			                    		</tr>
			                    		<tr>
			                    			<td>&nbsp;</td>
			                    			<td>&nbsp;</td>
			                    		</tr>
			                    		<tr>
			                    			<td>&nbsp;</td>
			                    			<td>&nbsp;</td>
			                    		</tr>
			                    	</th:block>
			                    	<th:block th:case="*">
			                    		<tr>
			                        		<td>Marital status</td>
			                        		<td th:text="*{maritalStatus}" colspan="2">Single/Married</td>
			                        		<td><a href="#" th:href="@{'/familytree/'+${familyTreeId} +'/profile/'+ ${customeProfile.customeProfileId} +'/initLifePartner'}" 
			                        		th:if="${{customeProfile.lifePartnerId==null and customeProfile.lifePartner==false}}" >Add Life Partner</a></td>
			                    		</tr>
			                    		<tr>
			                        		<td>Anniversary Date</td>
			                        		<td th:text="${{customeProfile.marriageAnniversary}}" colspan="2">06/23/2013</td>
			                    		</tr>
			                    		<tr>
			                        		<td>Anniversaries celebrated</td>
					                        <td th:text="*{numberOfCelebratedAnniversaries}" colspan="2">0</td>
					                    </tr>
					                    <tr>
			                        		<td>No. of Children</td>
					                        <td th:text="*{numberOfChildren}" colspan="2">06/23/2013</td>
					                    </tr>
			                    	</th:block>
			                    </th:block>
			                    <tr>
			                        <td>Phone Number</td>
			                        <td colspan="2">
			                        	<th:block th:text="*{phoneHome}+' (Personal)'" th:if="${{customeProfile.phoneHome!=null}}"></th:block><br></br>
			                        	<th:block th:text="*{phoneOffice}+' (Office)'" th:if="${{customeProfile.phoneOffice!=null}}"></th:block>
			                        </td>
			                    </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	</div>
</body>
</html>