
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<title>Family-tree</title>
	<th:block th:replace="header :: header-css" ></th:block>
	<th:block th:replace="familytree :: family-tree-css" ></th:block>
	<link rel="stylesheet" th:href='@{/css/dncalendar-skin.min.css}' />
</head>
<body>
	<div th:replace="header :: header(familyTreeId=${familytree.familyTreeId})" ></div>
	
	<div id="dncalendar-container" style="width : 50%">
	</div>
	
	<script type="text/javascript" th:src='@{/js/jquery-1.9.1.js}'></script>
	<script type="text/javascript" th:src='@{/js/dncalendar.min.js}'></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	 $(document).ready(function() {
		 var minDate = /*[[${eventsCalender.minDate}]]*/ '';
		 var maxDate = /*[[${eventsCalender.maxDate}]]*/ '';
		 var events = /*[[${eventsCalender.events}]]*/ '';
		 var eventsList = getEvents(events);
		 var my_calendar = $("#dncalendar-container").dnCalendar({
				minDate: minDate,
				maxDate: maxDate,
				//defaultDate: "2018-02-28",
				monthNames: [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ], 
				monthNamesShort: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
				dayNames: [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                dayNamesShort: [ 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sund' ],
                //dataTitles: { defaultDate: 'default', today : 'Today' },
                dataTitles: { today : 'Today' },
                notes: eventsList,
                showNotes: true,
                startWeek: 'Sunday',
                dayClick: function(date, view) {
                	alert(date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear());
                }
			});

			// init calendar
			my_calendar.build();

			// update calendar
			// my_calendar.update({
			// 	minDate: "2016-01-05",
			// 	defaultDate: "2016-05-04"
			// });
		});          
	         
	function getEvents(events){
		var eventsList = [];
		for(var i=0; i< events.length; i++){
			var eventNotes = {};
			eventNotes.date = events[i].eventDate;
			eventNotes.note = [events[i].note];
			eventsList.push( eventNotes);
		}
		return eventsList;
	}
	/*]]>*/
	</script>
</body>
</html>