<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Family-tree</title>
	<div th:fragment="family-tree-css">
	<link rel="stylesheet" th:href='@{/css/jquery-ui-1.10.2.custom.css}'/>
	<link th:href='@{/css/primitives.latest.css?3710}' media="screen" rel="stylesheet" type="text/css" />
	
<style type="text/css">

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
    font-size: 13px;
}
.toppad
{
	margin-top:20px;
}
	</style>
	</div>
	
</head>
<body>
<div th:fragment="family-tree">
<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-lg-8 nopadding">
				<div id="btn50">50%</div>
				<div id="btn80">80%</div>
				<div id="btn100">100%</div>
				<div id="btn130">130%</div>
				<div id="orgdiagram"  style="height: 480px; overflow: hidden; border-style: dotted; border-width: 1px;"></div>
			</div>
			<div class="col-md-4 col-lg-4 nopadding" id="cust_profile_view">
				
			</div>
		</div>
	</div>
	<div id="create-Profile-form" title="Create new user">
		<p class="validateTips">All form fields are required.</p>
		
		
		<form id="add-profile" th:object="${profile}">
			<table>
				<tr>
					<td>
					</td>
					<td>
						<input type="hidden" id="in_parentId" th:field="*{parentId}"></input>
					</td> 
				</tr>
				<tr>
					<td>
						Full Name
					</td>
					<td>
						<input type="text" id="in_profileName" th:field="*{profileName}"/>
					</td> 
				</tr>
				<tr>
					<td>
						First Name
					</td>
					<td>
					<input type="text" id="in_firstName" th:field="*{firstName}"/>
					</td>
				</tr>
				<tr>
					<td>
						Last Name
					</td>
					<td>
						<input type="text" id="in_lastName" th:field="*{lastName}"/>
					</td>
				</tr>
				<tr>
					<td>
						Gender
					</td>
					<td>
						<select id="in_gender" th:field="*{gender}" >
							<option th:value="male" th:text="Male">Male</option>
							<option th:value="female" th:text="Fe-Male">Fe-Male</option>			
						</select>
						
					</td>
				</tr>
				<tr>
					<td>Date Of Birth</td>
					<td>
						<input size="14" type="text" value="" id="id_dob" th:field="*{dateOfBirth}" class="datePicker"/>
					</td>
				</tr>
				<tr>
					<td>is this person still alive</td>
					<td>
						<select id="in_alive_yes_no">
							<option th:value="0" th:text="selectValue">--Yes/No--</option>
							<option th:value="alive" th:text="Yes">Yes</option>
							<option th:value="died" th:text="No">No</option>			
						</select>
					</td>
				</tr>
				<tr class="dod_info">
					<td>Date Of death</td>
					<td>
						<input size="12" type="text" id="id_dod" th:field="*{dateOfDeath}" class="datePicker" />
					</td>
				</tr>
				<tr>
					<td>Marital status</td>
					<td>
						<select id="in_maritalStatus" th:field="*{maritalStatus}" >
							<option th:value="single" th:text="Single">Single</option>
							<option th:value="married" th:text="Married">Married</option>
							<option th:value="Widow" th:text="Widow">Widow</option>			
						</select>
					</td>
				</tr>
				<tr class="mStatus_info">
					<td>Marriage Anniversary</td>
					<td>
						<input size="12" type="text" id="id_mAnniversary" th:field="*{marriageAnniversary}" class="datePicker" />
					</td>
				</tr> 
			</table>	
		</form>
	</div>
	<script type="text/javascript" th:src='@{/js/bootstrap.min.js}'></script>
	<script type="text/javascript" th:src='@{/js/jquery-1.9.1.js}'></script>
	<script type="text/javascript" th:src='@{/js/jquery-ui-1.10.2.custom.min.js}'></script>
	<script type="text/javascript" th:src='@{/js/primitives.min.js?3710}'></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
jQuery(document).ready(function () {
	var dialog, form;
	var treeNodes = [[${ft_items}]];
    
    var options = new primitives.orgdiagram.Config();
	var items = [];
	var buttons = [];
	
	$('form').on('submit', function(e){
		e.preventDefault();
		return false;
	});
	
	$('.mStatus_info').hide();
	$('.dod_info').hide();
	
	$('#in_alive_yes_no').on("change", function(){
		var selection = $(this).find(':selected').val();
		if(selection !='alive'){
			$('.dod_info').show();
		}
		else{
			$('.dod_info').hide();
		}
	});
	
	$('#in_maritalStatus').on("change",function(){
		var selection = $(this).find(':selected').val();
		if(selection == 'single'){
			$('.mStatus_info').hide();
		}
		else{
			$('.mStatus_info').show();
		}
	});
	
	$('.datePicker').datepicker({
		dateFormat: 'dd-mm-yy'
	});
	
	var rootProfileId = /*[[${customeProfile.profileId}]]*/ '';
	var custProfileViewUrl=/*[[@{/customeProfileView/}]]*/ '/customeProfileView/1';
	$("#cust_profile_view").load(custProfileViewUrl + rootProfileId);
	
	dialog = $("#create-Profile-form").dialog({
		autoOpen: false,
		height: 500,
		width: 500,
		modal: true,
		buttons: {
	        "Create an Profile": function(){
	        	var profileData = {};
	        	profileData.profileName = $("#in_profileName").val();
	        	profileData.firstName = $("#in_firstName").val();
	        	profileData.lastName = $("#in_lastName").val();
	        	profileData.gender = $("#in_gender").val(),
	        	profileData.parentId = $("#in_parentId").val();
	        	profileData.dateOfBirth = $("#id_dob").val();
	        	profileData.dateOfDeath = $("#id_dod").val();
	        	profileData.maritalStatus = $("#in_maritalStatus").val();
	        	profileData.marriageAnniversary = $("#id_mAnniversary").val();
	        	var saveProfileUrl = /*[[@{/profile/save}]]*/ 'profile/save';
	        	$.ajax({
					type: "POST",
					url: saveProfileUrl,
					async: true,
					headers: {
	                    'Accept': 'application/json',
	                    'Content-Type': 'application/json'
	                },
					data: JSON.stringify(profileData),
					success: function(result){
						console.log(result);
						dialog.dialog("close");
						items = treeNodesToItems(JSON.stringify(result.object));
						updateTreeWithItems(items);
						$("#add-profile").trigger("reset");
						var custProfileViewUrl=/*[[@{/customeProfileView/}]]*/ '/customeProfileView/1';
						custProfileViewUrl = custProfileViewUrl + items[0].id;
						//alert(items[0].id);
						$("#cust_profile_view").load(custProfileViewUrl);
					},
					error: function(jqXhr, textStatus, errorThrown){
						console.log(textStatus);
						 alert('error:' +textStatus + '\n:' +errorThrown);
					}
				});
				dialog.dialog( "close" );
	        },
	        Cancel: function() {
	          dialog.dialog( "close" );
	        }
	      },
	      close: function() {
	        //form[ 0 ].reset();
	        //allFields.removeClass( "ui-state-error" );
	        $("#add-profile").trigger("reset");
	      }
	});
	
	dialog.dialog("close");
	
	buttons.push(new primitives.orgdiagram.ButtonConfig("add", "ui-icon-person", "Add"));
	buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
	buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
	        	
	items = treeNodesToItems(treeNodes);
	
	options.pageFitMode = primitives.common.PageFitMode.None;
	options.items = items;
	options.buttons = buttons;			
	options.cursorItem = 0;
	options.hasSelectorCheckbox = primitives.common.Enabled.False;
	options.onButtonClick = function (e, data) {
		switch (data.name) {
			case "delete": 
					if(data.context.parent==null || data.context.parent==''){
						alert('you can not delete the parent node')
					}
					else{
						var deleteProfileUrl = /*[[@{/profile/delete/}]]*/ 'profile/delete/';
						$.ajax({
							type: "DELETE",
							url: deleteProfileUrl + data.context.id,
							//dataType: "json",
							headers: {
		                	    'Accept': 'application/json',
		                    	'Content-Type': 'application/json'
		                	} ,
							success: function(result){
								items = treeNodesToItems(JSON.stringify(result.object));
								updateTreeWithItems(items);
								console.log(result);
							},
							error: function(jqXhr, textStatus, errorThrown){
								console.log(textStatus);
								alert('error:' +textStatus + '\n:' +errorThrown);
							}
						});
					}
				break;
			case "add": 
				/* get items collection */
				//var items = jQuery("#orgdiagram").orgDiagram("option", "items");
				/* create new item */
				$('#in_parentId').val(data.context.id);
				dialog.dialog( "open" );
				break;
				
			case "properties":
				var rootProfileId = data.context.id;
				var custProfileViewUrl=/*[[@{/customeProfileView/}]]*/ '/customeProfileView/1';
				$("#cust_profile_view").load(custProfileViewUrl + rootProfileId);
				break;
		}
	};
	jQuery("#orgdiagram").orgDiagram(options);

	$("#btn50").button().click(function () { onScale(0.5); });
	$("#btn80").button().click(function () { onScale(.8); });
	$("#btn100").button().click(function () { onScale(1); });
	$("#btn130").button().click(function () { onScale(1.3); });
});
	      
function treeNodesToItems(treeNodes){
	var itemsToIterate = JSON.parse(treeNodes);
	var new_items = [];
	for(var i=0; i<itemsToIterate.length; i++){
		new_items.push(
				new primitives.orgdiagram.ItemConfig({
					id: itemsToIterate[i].id,
					parent: itemsToIterate[i].parent,
					title: itemsToIterate[i].title,
					description: itemsToIterate[i].description,
					image: "../images/"+itemsToIterate[i].gender+".png"
				}));
	}
	return new_items;
}

function updateTreeWithItems(ft_items){
	jQuery("#orgdiagram").orgDiagram({
		items: ft_items
	});
	jQuery("#orgdiagram").orgDiagram("update", /*Refresh: use fast refresh to update chart*/ primitives.orgdiagram.UpdateMode.Refresh);
}


function onScale(scale) {
	if (scale != null) {
		jQuery("#orgdiagram").orgDiagram({ scale: scale });
	}
	jQuery("#orgdiagram").orgDiagram("update", primitives.orgdiagram.UpdateMode.Refresh);
}

	 /*]]>*/
	</script>
</div>
		
</body>
</html>