<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Family-tree</title>
	<th:block th:fragment="family-tree-css">
	<link rel="stylesheet" th:href='@{/css/jquery-ui-1.10.2.custom.css}'/>
	<link th:href='@{/css/primitives.latest.css?3710}' media="screen" rel="stylesheet" type="text/css" />
	
	<style type="text/css">

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
    font-size: 13px;
}
.toppad
{
	margin-top:20px;
}
	</style>
	</th:block>
	
</head>
<body>
<div th:fragment="family-tree">
<div class="container-fluid">
		<div class="row" id="treePluscustProf">
			<div class="col-md-8 col-lg-8 nopadding">
				<div id="btn70">70%</div>
				<div id="btn80">80%</div>
				<div id="btn100">100%</div>
				<div id="btn130">130%</div>
				<div id="orgdiagram"  style="height: 480px; overflow: hidden; border-style: dotted; border-width: 1px;"></div>
			</div>
			<div class="col-md-4 col-lg-4 nopadding" id="cust_profile_view" th:include="customeProfileView :: cust-profile-view(${customeProfile})">
				
			</div>
		</div>
	</div>
	<div id="create-Profile-form" title="Create new user">
		<p class="validateTips">All form fields are required.</p>
		
		
		<form id="add-profile" th:object="${profile}">
			<table>
				<tr>
					<td>
					</td>
					<td>
						<input type="hidden" id="in_profileId" th:field="*{profileId}"></input>
					</td> 
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="hidden" id="in_parentId" th:field="*{parentId}"></input>
					</td> 
				</tr>
				<tr>
					<td>
						Full Name
					</td>
					<td>
						<input type="text" id="in_profileName" th:field="*{profileName}"/>
					</td> 
				</tr>
				<tr>
					<td>
						First Name
					</td>
					<td>
					<input type="text" id="in_firstName" th:field="*{firstName}"/>
					</td>
				</tr>
				<tr>
					<td>
						Last Name
					</td>
					<td>
						<input type="text" id="in_lastName" th:field="*{lastName}"/>
					</td>
				</tr>
				<tr>
					<td>
						Gender
					</td>
					<td>
						<select id="in_gender" th:field="*{gender}" >
							<option th:value="male" th:text="Male">Male</option>
							<option th:value="female" th:text="Fe-Male">Fe-Male</option>			
						</select>
						
					</td>
				</tr>
				<tr>
					<td>Date Of Birth</td>
					<td>
						<input size="14" type="text" value="" id="id_dob" th:field="*{dateOfBirth}" class="datePicker"/>
					</td>
				</tr>
				<tr>
					<td>is this person still alive</td>
					<td>
						<select id="in_alive_yes_no">
							<option th:value="0" th:text="selectValue">--Yes/No--</option>
							<option th:value="alive" th:text="Yes">Yes</option>
							<option th:value="died" th:text="No">No</option>			
						</select>
					</td>
				</tr>
				<tr class="dod_info">
					<td>Date Of death</td>
					<td>
						<input size="12" type="text" id="id_dod" th:field="*{dateOfDeath}" class="datePicker" />
					</td>
				</tr>
				<tr>
					<td>Marital status</td>
					<td>
						<select id="in_maritalStatus" th:field="*{maritalStatus}" >
							<option th:value="single" th:text="Single">Single</option>
							<option th:value="married" th:text="Married">Married</option>
							<option th:value="Widow" th:text="Widow">Widow</option>			
						</select>
					</td>
				</tr>
				<tr class="mStatus_info">
					<td>Marriage Anniversary</td>
					<td>
						<input size="12" type="text" id="id_mAnniversary" th:field="*{marriageAnniversary}" class="datePicker" />
					</td>
				</tr> 
			</table>	
		</form>
	</div>
	
	<script type="text/javascript" th:src='@{/js/bootstrap.bundle.min.js}'></script>
	<script type="text/javascript" th:src='@{/js/jquery-1.9.1.js}'></script>
	<script type="text/javascript" th:src='@{/js/jquery-ui-1.10.2.custom.min.js}'></script>
	<script type="text/javascript" th:src='@{/js/primitives.min.js?3710}'></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
jQuery(document).ready(function () {
	var dialog, form;
	var treeNodes = [[${ft_items}]];
    
    var options = new primitives.orgdiagram.Config();
	var items = [];
	var buttons = [];
	
	$('form').on('submit', function(e){
		e.preventDefault();
		return false;
	});
	
	$('.mStatus_info').hide();
	$('.dod_info').hide();
	
	$('#in_alive_yes_no').on("change", function(){
		var selection = $(this).find(':selected').val();
		if(selection !='alive'){
			$('.dod_info').show();
		}
		else{
			$('.dod_info').hide();
		}
	});
	
	$('#in_maritalStatus').on("change",function(){
		var selection = $(this).find(':selected').val();
		if(selection == 'single'){
			$('.mStatus_info').hide();
		}
		else{
			$('.mStatus_info').show();
		}
	});
	
	$('.datePicker').datepicker({
		dateFormat: 'dd-mm-yy'
	});
	
	var rootProfileId = /*[[${customeProfile.profileId}]]*/ '';
	var familyTreeId = /*[[${familyTreeId}]]*/ '';
	var custProfileViewUrl=/*[[@{'/familytree/'+${familyTreeId}+'/profile/'}]]*/ '/familytree/0/profile/0/customeProfile';
	
	$("#cust_profile_view").load(custProfileViewUrl + rootProfileId + "/customeProfile");
	
	dialog = $("#create-Profile-form").dialog({
		autoOpen: false,
		height: 500,
		width: 500,
		modal: true,
		buttons: {
	        "Create an Profile": function(){
	        	var profileData = {};
	        	profileData.profileName = $("#in_profileName").val();
	        	profileData.firstName = $("#in_firstName").val();
	        	profileData.lastName = $("#in_lastName").val();
	        	profileData.gender = $("#in_gender").val(),
	        	profileData.parentId = $("#in_parentId").val();
	        	profileData.dateOfBirth = $("#id_dob").val();
	        	profileData.dateOfDeath = $("#id_dod").val();
	        	profileData.maritalStatus = $("#in_maritalStatus").val();
	        	profileData.marriageAnniversary = $("#id_mAnniversary").val();
	        	profileData.profileId = $("#in_profileId").val();
	        	var saveProfileUrl = /*[[@{'/familytree/'+ ${familyTreeId} +'/profile/save'}]]*/ '/familytree/0/profile/save';
	        	$.ajax({
					type: "POST",
					url: saveProfileUrl,
					async: true,
					headers: {
	                    'Accept': 'application/json',
	                    'Content-Type': 'application/json'
	                },
					data: JSON.stringify(profileData),
					success: function(result){
						console.log(result);
						dialog.dialog("close");
						items = treeNodesToItems(JSON.stringify(result.object));
						updateTreeWithItems(items);
						$("#add-profile").trigger("reset");
						var custProfileViewUrl=/*[[@{'/familytree/'+${familyTreeId}+'/profile/'}]]*/ '/familytree/0/profile/0/customeProfile';
						custProfileViewUrl = custProfileViewUrl + items[0].id +'/customeProfile';
						$("#cust_profile_view").load(custProfileViewUrl);
						
					},
					error: function(jqXhr, textStatus, errorThrown){
						console.log(textStatus);
						 alert('error:' +textStatus + '\n:' +errorThrown);
					}
				});
				dialog.dialog( "close" );
	        },
	        Cancel: function() {
	          dialog.dialog( "close" );
	        }
	      },
	      close: function() {
	        //form[ 0 ].reset();
	        //allFields.removeClass( "ui-state-error" );
	        $("#add-profile").trigger("reset");
	      }
	});
	
	dialog.dialog("close");
	items = treeNodesToItems(treeNodes);
	
	options.pageFitMode = primitives.common.PageFitMode.None;
	//options.arrowsDirection = primitives.common.GroupByType.Children;
	options.items = items;
	//options.buttons = buttons;
	options.hasButtons = primitives.common.Enabled.False;
	options.cursorItem = 0;
	options.templates = [getCursorTemplate()];
	options.defaultTemplateName = "CursorTemplate"; 
	options.hasSelectorCheckbox = primitives.common.Enabled.False;
	options.onCursorRender = onCursorRender;
	options.onButtonClick = function (e, data) {
		switch (data.name) {
			case "delete": 
					if(data.context.parent==null || data.context.parent==''){
						alert('you can not delete the parent node')
					}
					else{
						
						var deleteDialog= $("<div title=\"Delete this profile?\">"+
								"<p><span class=\"ui-icon ui-icon-alert\" style=\"float:left; margin:12px 12px 20px 0;\"></span>"+
								"This member's profile will be permanently deleted and cannot be recovered. Are you sure?</p>"+
								"</div>");
						
						$( deleteDialog ).dialog({
						      resizable: false,
						      height: "auto",
						      width: 400,
						      modal: true,
						      buttons: {
						        "Delete Profile": function() {
						        	var deleteProfileUrl = /*[[@{'/familytree/'+${familyTreeId}+'/profile/'}]]*/ 'familytree/0/profile/0/delete';
									$.ajax({
										type: "DELETE",
										url: deleteProfileUrl + data.context.id +"/delete",
										//dataType: "json",
										headers: {
					                	    'Accept': 'application/json',
					                    	'Content-Type': 'application/json'
					                	} ,
										success: function(result){
											items = treeNodesToItems(JSON.stringify(result.object));
											updateTreeWithItems(items);
											console.log(result);
										},
										error: function(jqXhr, textStatus, errorThrown){
											console.log(textStatus);
											alert('error:' +textStatus + '\n:' +errorThrown);
										}
									});
									$( this ).dialog( "close" );
						        },
						        Cancel: function() {
						          $( this ).dialog( "close" );
						        }
						      }
						 });
					}
				break;
			case "add": 
				/* get items collection */
				//var items = jQuery("#orgdiagram").orgDiagram("option", "items");
				/* create new item */
				$('#in_parentId').val(data.context.id);
				dialog.dialog( "open" );
				break;
				
			case "properties":
				
				var familyTreeId=/*[[${familyTreeId}]]*/ '0';
				$.ajax({
					type: "GET",
					url: "/familytree/" + familyTreeId + "/profile/" + data.context.id +"/edit" ,
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					} ,
					success: function(result){
						//var profile = JSON.stringify();
						$("#in_profileId").val(data.context.id);
						
						$("#in_profileName").val(result.object.profileName);
			        	$("#in_firstName").val(result.object.firstName);
			        	$("#in_lastName").val(result.object.lastName);
			        	$("#in_gender").val(result.object.gender),
			        	$("#in_parentId").val(result.object.parentId);
			        	$("#id_dob").val($.datepicker.formatDate('dd-mm-yy',new Date(result.object.dateOfBirth)));
			        	$("#id_dod").val(result.object.dateOfDeath);
			        	$("#in_maritalStatus").val(result.object.maritalStatus);
			        	$("#id_mAnniversary").val($.datepicker.formatDate('dd-mm-yy',new Date(result.object.marriageAnniversary)));
			        	dialog.dialog( "open" );
						console.log(result);
					},
					error: function(jqXhr, textStatus, errorThrown){
						console.log(textStatus);
						alert('error:' +textStatus + '\n:' +errorThrown);
					}
				});
				break;
		}
	};
	jQuery("#orgdiagram").orgDiagram(options);

	$("#btn70").button().click(function () { onScale(0.7); });
	$("#btn80").button().click(function () { onScale(.8); });
	$("#btn100").button().click(function () { onScale(1); });
	$("#btn130").button().click(function () { onScale(1.3); });
	
});


function onCursorRender(event, data) {
	switch (data.renderingMode) {
		case primitives.common.RenderingMode.Create:
			break;
		case primitives.common.RenderingMode.Update:
			/* Update widgets here */
			break;
	}

	var buttons = [];
	// It is not nessesary to use ButtonConfig class here. We can use regular noname objects as well.
	switch (data.context.buttonsType) {
		case "RootNode":
			buttons.push(new primitives.orgdiagram.ButtonConfig("add", "ui-icon-person", "Add"));
			buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
			//buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
			break;
		case "LifePartner":
			buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
			buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
			break;
		case "Married":
			buttons.push(new primitives.orgdiagram.ButtonConfig("add", "ui-icon-person", "Add"));
			buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
			buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
			break;
		case "UnMarried":
			buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
			buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
			break;
	}

	if (buttons.length > 0) {
		var topOffset = 2;
		var buttonsInterval = 10;
		// Cursor template contains several div elements so we have to select div we are going to use as buttons container
		var buttonsPanel = data.element.find(".buttons-panel");

		// Clean up contents of buttons panel first
		buttonsPanel.empty();

		for (index = 0; index < buttons.length; index += 1) {
			buttonConfig = buttons[index];
			// We use data-buttonname attriute to pass button name to orgchart onButtonClick event
			button = jQuery('<li data-buttonname="' + buttonConfig.name + '"></li>')
				.css({
					position: "absolute",
					top: topOffset + "px",
					left: "0px",
					width: buttonConfig.size.width + "px",
					height: buttonConfig.size.height + "px",
					padding: "3px"
				})
				.addClass("orgdiagrambutton"); // This class forces widget to consider button as its own. 
				//Otherwise you have to listen to onMouseClick event and use target in order to recognize button click.

			buttonsPanel.append(button);

			button.button({
				icons: { primary: buttonConfig.icon },
				text: buttonConfig.text,
				label: buttonConfig.label
			});

			if (!primitives.common.isNullOrEmpty(buttonConfig.tooltip)) {
				if (button.tooltip != null) {
					button.tooltip({ content: buttonConfig.tooltip });
				}
			}
			topOffset += buttonsInterval + buttonConfig.size.height;
		}
	}
	
	/*on selecting the node get the node ID and update the custome profile details with the 
	selected note profile details*/
	
	var rootProfileId = data.context.id;
	var familyTreeId = /*[[${familyTreeId}]]*/ '';
	var custProfileViewUrl=/*[[@{'/familytree/'+${familyTreeId}+'/profile/'}]]*/ '/familytree/0/profile/0/customeProfile';
	//alert('viewing Custome Profile:'+custProfileViewUrl + rootProfileId + "/customeProfile");
	$("#cust_profile_view").load(custProfileViewUrl + rootProfileId + "/customeProfile");
	
};	

	
function treeNodesToItems(treeNodes){
	var itemsToIterate = JSON.parse(treeNodes);
	var new_items = [];
	for(var i=0; i<itemsToIterate.length; i++){
		var c_buttonsType = "";
		if(itemsToIterate[i].parent == null){
			c_buttonsType = "RootNode";
		}
		else if(itemsToIterate[i].lifePartner == true){
			c_buttonsType = "LifePartner";
		}
		else if(itemsToIterate[i].status == 'SINGLE'){
			c_buttonsType = "UnMarried";
		}
		else{
			c_buttonsType = "Married";
		}
		
		if(c_buttonsType == 'LifePartner'){
			new_items.push(
					new primitives.orgdiagram.ItemConfig({
						id: itemsToIterate[i].id,
						parent: itemsToIterate[i].parent,
						title: itemsToIterate[i].title,
						description: itemsToIterate[i].description,
						image: "/images/"+itemsToIterate[i].gender+".png",
						buttonsType: c_buttonsType,
						itemType: primitives.orgdiagram.ItemType.AdviserPartner,
						adviserPlacementType: primitives.orgdiagram.AdviserPlacementType.Right,
						groupTitle: "Life Partner"
					}));
		}
		else{
			new_items.push(
					new primitives.orgdiagram.ItemConfig({
						id: itemsToIterate[i].id,
						parent: itemsToIterate[i].parent,
						title: itemsToIterate[i].title,
						description: itemsToIterate[i].description,
						image: "/images/"+itemsToIterate[i].gender+".png",
						buttonsType: c_buttonsType
					}));
		}
	}
	return new_items;
}

function getCursorTemplate() {
	var result = new primitives.orgdiagram.TemplateConfig();
	result.name = "CursorTemplate";

	result.itemSize = new primitives.common.Size(120, 100);
	result.minimizedItemSize = new primitives.common.Size(3, 3);
	result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);
	result.cursorPadding = new primitives.common.Thickness(3, 3, 38, 8);

	var cursorTemplate = jQuery("<div></div>")
	.css({
		position: "absolute",
		overflow: "hidden",
		width: (result.itemSize.width + result.cursorPadding.left + result.cursorPadding.right) + "px",
		height: (result.itemSize.height + result.cursorPadding.top + result.cursorPadding.bottom) + "px"
	});

	var cursorBorder = jQuery("<div></div>")
	.css({
		width: (result.itemSize.width + result.cursorPadding.left + 1) + "px",
		height: (result.itemSize.height + result.cursorPadding.top + 1) + "px"
	}).addClass("bp-item bp-corner-all bp-cursor-frame");
	cursorTemplate.append(cursorBorder);

	var buttonsGroup = jQuery("<div></div>")
	.css({
		position: "absolute",
		overflow: "hidden",
		top: result.cursorPadding.top + "px",
		left: (result.itemSize.width + result.cursorPadding.left + 10) + "px",
		width: "35px",
		height: (result.itemSize.height + 1) + "px"
	}).addClass("buttons-panel");

	cursorTemplate.append(buttonsGroup);

	result.cursorTemplate = cursorTemplate.wrap('<div>').parent().html();

	return result;
}

function updateTreeWithItems(ft_items){
	jQuery("#orgdiagram").orgDiagram({
		items: ft_items
	});
	jQuery("#orgdiagram").orgDiagram("update", /*Refresh: use fast refresh to update chart*/ primitives.orgdiagram.UpdateMode.Refresh);
}


function onScale(scale) {
	if (scale != null) {
		jQuery("#orgdiagram").orgDiagram({ scale: scale });
	}
	jQuery("#orgdiagram").orgDiagram("update", primitives.orgdiagram.UpdateMode.Refresh);
}

	 /*]]>*/
	</script>
</div>
</body>
</html>