<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:fragment="header-css">
		<!-- this is header css -->
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
		<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<style>
	h1{
		color:#0000FF;
	}

	h2{
		color:#FF0000;
	}

	footer{
	    margin-top:60px;
	}
	</style>
</div>
</head>
<body>
	<div th:fragment="empty-header">
	<nav class="navbar navbar-inverse" id="ft_menuItem">
		<div class="container">
			<div class="navbar-header">
                <a class="navbar-brand active" th:href="@{/home}">Family Tree</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            	<ul class="nav navbar-nav">
            		<li><a th:href="@{/familytree/createtreeform}">Create new Tree</a></li>
            		<li><a th:href="@{/familytree/importTreePage}">Import Tree</a></li>
            	</ul>
            </div>
		</div>
	</nav>
	</div>
<div th:fragment="header(familyTreeId)">
    <!-- this is header -->
    <nav class="navbar navbar-inverse" id="ft_menuItem">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand active" th:href="@{/home}">Family Tree</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                	<li><a th:href="@{'/familytree/' + ${familyTreeId} +'/view'}">Tree</a></li>
                    <li><a th:href="@{'/familytree/' + ${familyTreeId} +'/events'}">Event Calendar</a></li>
                    <li><a th:href="@{'/familytree/' + ${familyTreeId} +'/downloadJson'}">Export</a></li>
                    <li><a th:href="@{/aboutus}">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>